<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Snow Tricks</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Développons ensemble pour faire connaitre le snowboard et les différentes figures.</h2>
                <a class="btn btn-primary" {% if app.user %} href="{{ path('figure_new') }}">Créer une figure</a> {% else %} href="#figure"> Voir les figures</a> {% endif %}
            </div>
        </div>
    </div>
</header>