<div class="row gx-0 mb-4 mb-lg-5 align-items-center">
    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." /></div>
    <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
            <h4>En bref</h4>
            <p class="text-black-50 mb-0">Snow Tricks est une plateforme permettant aux utilisateurs de partager et d'échanger sur leurs expériences de snowboard!</p>
        </div>
    </div>
</div> 