.navbar-nav .nav-item .nav-link {
    color: #000 !important;
  }
  
.navbar-brand {
    color: #000 !important;
}

.figure-h1 {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.figure-field {
    margin-bottom: 1rem;
}

#figure-container {
    margin-top: 3rem;
}

#figure-container h1 {
    position: absolute;
    top: 30rem;
    left: 30rem;
    color: white;
}

.figure-hero {
    margin-top: 3rem;
    width: 50%;
}

.img-fluid {
    position: relative;
}

#figure-container a {
    text-decoration: none;
}

#figure-container button {
    color: #50817e;
}

#figure-container .title {
    color: #000;
    position: static;
}

@media (max-width: 1260px) { 
    #figure-container h1 {
        left: 12rem;
    } 
}