.form-floating {
  width: 400px ;
}

.signin-title {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.navbar-nav .nav-item .nav-link {
  color: #000 !important;
}

.navbar-brand {
  color: #000 !important;
}

.register-button {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 400px !important;
}

.login-footer {
  margin-top: 1rem;
}

.remember-div {
  margin-left: 0.7rem;
}

.psw-forgot {
  margin-left: -1rem;
}

.agreeterms {
  margin-top: 1rem;
}

.reset-psw-info {
  margin-left: 0.7rem;
  width: 400px !important;
}

.checkemail {
  margin-top: 10rem;
  margin-bottom: 4rem;
}